// Notification ==
.notification-list{
	> ul li {
		position: relative;
	}
	.list-items{
		display: flex;
		align-items: center;
		padding: 10px 15px;
		margin: 0 -15px;
		border-bottom: 1px solid var(--border-color);
		.media{
			img{
				border-radius: 20px;
			}
		}
		.date{
			font-size: 14px;
			color: var(--title);
			opacity: 0.7;
		}
		.list-content{
			.title{
				font-size: 18px;
				margin-bottom: 5px;
			}
		}	
		.dz-icon-box{
			width: 50px;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: var(--border-radius);
			background-color: var(--light);
			position: relative;
			&:after{
				display: none;
				content: "";
				position: absolute;
				top: -4px;
				right: -4px;
				width: 16px;
				height: 16px;
				z-index: 1;
				border-radius: 10px;
				background-color: $warning;
				border: 2px solid var(--bg-white);
			}
			svg{
				width: 35px;
				height: 35px;
				path{
					fill: var(--secondary);
				}
			}
		}
	}
}
