<div class="page-wrapper">
    <!-- splash -->        
	<div class="loader-screen" id="splashscreen">
		<div class="main-screen">
			<div class="loader"><img src="../../assets/images/app-logo/logo.svg" class="wow bounceIn" alt=""></div>
			<div class="title">
				<span class="wow fadeInUpBig" data-wow-duration="0.1s" data-wow-delay="1s">C</span>
				<span class="wow fadeInUpBig" data-wow-duration="0.2s" data-wow-delay="1s">H</span>
				<span class="wow fadeInUpBig" data-wow-duration="0.3s" data-wow-delay="1s">A</span>
				<span class="wow fadeInUpBig" data-wow-duration="0.4s" data-wow-delay="1s">R</span>
				<span class="wow fadeInUpBig" data-wow-duration="0.5s" data-wow-delay="1s">M</span>
				<span class="wow fadeInUpBig" data-wow-duration="0.6s" data-wow-delay="1s">I</span>
				<span class="wow fadeInUpBig" data-wow-duration="0.7s" data-wow-delay="1s">S</span>
			</div>
		</div> 
		<p class="version wow bounceIn" data-wow-duration="0.5s" data-wow-delay="1s">Since 1985</p>    
	</div>               
	<!-- splash--> 
    <!-- Welcome Start -->
	<main class="page-content">
		<div class="container p-0 fixed-full-area">
			<div class="welcome-area">
				<div class="welcome-inner">
					<div class="onboarding-area">
						<div class="box box-1"><img src="../../assets/images/authentication/onboarding/pic1.png" alt=""></div>
						<div class="box box-2"><img src="../../assets/images/authentication/onboarding/pic2.png" alt=""></div>
						<div class="box box-3"><img src="../../assets/images/authentication/onboarding/pic3.png" alt=""></div>
						<div class="box box-4"><img src="../../assets/images/authentication/onboarding/pic4.png" alt=""></div>
					</div>
					<!-- bottom Area -->
					<div class="swiper get-started">
						<div class="swiper-pagination style-1 flex-1"></div>
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="slide-info">
									<div class="started">
										<h3 class="title" data-swiper-parallax="-300">Unlock Your Beauty at Our Chic Oasis!</h3>
										<p class="desc" data-swiper-parallax="-100">Because You Need Time for Yourself Blend Beauty in You.</p>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="slide-info">
									<div class="started">
										<h3 class="title" data-swiper-parallax="-300">Unlock Your Beauty at Our Chic Oasis!</h3>
										<p class="desc" data-swiper-parallax="-100">Because You Need Time for Yourself Blend Beauty in You.</p>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="slide-info">
									<div class="started">
										<h3 class="title" data-swiper-parallax="-300">Unlock Your Beauty at Our Chic Oasis!</h3>
										<p class="desc" data-swiper-parallax="-100">Because You Need Time for Yourself Blend Beauty in You.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- bottom Area -->
				</div>
				<div class="bottom-btn d-flex align-items-center">
					<a routerLink="/"  class="font-16 font-w500 text-underline flex-1 d-inline-block">Skip</a> 
					<a routerLink="/home"  class="btn rounded-xl btn-thin btn-secondary gap-2 btn-lg" >Next<i class="feather icon-arrow-right"></i></a>
				</div>
			</div>
		</div>
	</main>
    <!-- Welcome End -->
  
</div>

